@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Noto Sans SC Light'), local('NotoSansSC-Light'),
         url(assets('fonts/noto-sans-sc-v9-latin-100.woff2')) format('woff2');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Sans'), local('NotoSans'), local('Noto Sans SC Regular'), local('NotoSansSC-Regular'),
         url(assets('fonts/noto-sans-sc-v9-latin-300.woff2')) format('woff2');
}
