@mixin size($width, $height: $width, $min: false) {
    width: $width;
    height: $height;

    @if $min {
        min-width: $width;
        min-height: $height;
    }
}

@mixin text-border($color, $depth) {
    text-shadow:
        calc(#{$depth} * 2) 0 #{$depth} #{$color},
        calc(#{$depth} * 2) calc(#{$depth} * 2) #{$depth} #{$color},
        0 calc(#{$depth} * 2) #{$depth} #{$color},
        calc(0px - #{$depth} * 2) calc(#{$depth} * 2) #{$depth} #{$color},
        calc(0px - #{$depth} * 2) 0 #{$depth} #{$color},
        calc(0px - #{$depth} * 2) calc(0px - #{$depth} * 2) #{$depth} #{$color},
        0 calc(0px - #{$depth} * 2) #{$depth} #{$color},
        calc(#{$depth} * 2) calc(0px - #{$depth} * 2) #{$depth} #{$color};
}