%layer {
    position: absolute;
    width: var(--width);

    &.center {
        left: calc((100vw - var(--width)) / 2);
    }
}

%btn-light {
    transition: filter $widget-transition, transform $widget-transition;

    &:active {
        --scale: 0.8;
        filter: brightness(1.19) contrast(0.96);
        transform: scale(var(--scale));
    }
}
