@import "shared-styles";

@keyframes vine {
    from {
        transform: scaleY(1.0);
    }
  
    to {
        transform: scaleY(.95);
    }
}

@keyframes food {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}

@keyframes food-shown {
    from {
        transform: scale(1.0);
    }
  
    to {
        transform: scale(1.02);
    }
}

:host {
    background-image: url(image-assets("login/background.png"));

    &::before {
        content: '';
        @include size(100%);
        background-image: url(image-assets("login/light.png"));
    }
}

.vine,
.banner,
.food-frame,
.character,
.character::before,
.character::after,
.banner::before,
.grass,
.btn-login {
    @extend %layer;
}

.vine {
    --width: 100%;
    height: 45.58vw;
    background-image: url(image-assets("login/vine.png"));
    top: 0;
    z-index: 9;
    transform-origin: center top;
    animation: vine 2s infinite alternate-reverse;
}

.banner {
    --width: min(73.52vw, 43vh);
    height: calc(var(--width) *0.5644);
    background-image: url(image-assets("login/banner.png"));
    top: max(8vh, 5%);
    z-index: 2;

    &::before {
        content: '';
        @include size(23.42%, 12.98%);
        background-image: url(image-assets("login/title.png"));
        left: 38.29% !important;
        bottom: 23%;
    }
}

.food-frame {
    --width: min(89.26vw, 46.4vh);
    --height: min(calc(var(--width) / 1.106), 79.62vh);
    height: var(--height);
    z-index: 2;
    bottom: calc(19vh);

    &::before,
    &:after {
        @include size(100%);
        content: '';
        transition: opacity $widget-transition;
        opacity: 0;
    }

    &::before {
        background-image: url(image-assets("login/food-light.png"));
    }

    &::after {
        background-image: url(image-assets("login/food-with-shadow.png"));
        transform: translateY(-200%);
    }

    &.animate {
        animation: food 0.5s;
        animation-delay: 0.5s;

        
    }

    &.show-food {
        &::before,
        > .food {
            opacity: 1;
        }
    }

    &.shadow {
        animation: food-shown 3s infinite alternate-reverse;

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }
    }

    > .food {
        @include size(100%);
        background-image: url(image-assets("login/food.png"));
        transform: translateY(-100%);
        opacity: 0;
    }
}

.character {
    --width: min(52.82vw, 27.46vh);
    height: min(90.38vw, 47vh);
    bottom: 15vh;
    z-index: 2;

    &::before {
        content: '';
        @include size(100%);
        background-image: url(image-assets("login/character.png"));
        left: 0 !important;
        z-index: 2;
    }

    &::after {
        content: '';
        @include size(121.41%, 56.02%);
        background-image: url(image-assets("login/character-shadow.png"));
        transform: translate(34%, 170%);
        z-index: 1;
    }
}

.btn-login {
    --shadow-color: #209a26;
    --shadow-depth: 0.11vw;
    --width: min(180px, max(133px, 26vw));
    --height: calc(var(--width) / 2.768817);
    height: var(--height);
    bottom: calc(30px + 4vw);
    z-index: 9;
    font-size: min(5vw, 25px);
    @include text-border(var(--shadow-color), var(--shadow-depth));
    overflow: visible;

    &::before,
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        @include size(100%);
    }
    
    &::before {
        content: '';
        filter: drop-shadow(0.00000001px calc(var(--height) * 0.141) 0.000000001px rgba(#17162a, 0.30));
        background-image: url(image-assets("login/btn-login.png"));
    }

    &::after {
        content: attr(text);
        @include size(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1.4vw;
    }
}

.grass {
    --width: 100vw;
    height: calc(var(--width) * 0.5092);
    background-image: url(image-assets("login/grass.png"));
    transform-origin: center bottom;
    animation: vine 2s infinite alternate-reverse;
    z-index: 8;
    left: 0;
    bottom: 0;
}
