@import "shared-styles";

@keyframes bar-grass-wave {
    0% {
        transform: scaleY(0.99) skewX(-1deg);
    }

    25% {
        transform: scaleY(1.01) skewX(0);
    }

    50% {
        transform: scaleY(0.99) skewX(1deg);
    }

    75% {
        transform: scaleY(1.01) skewX(0);
    }
  
    100% {
        transform: scaleY(1.0) skewX(-1deg);
    }
}

@keyframes grass-wave {
    from {
        transform: scale(0.95, 1.05);
    }
  
    to {
        transform: scale(1.05, 0.95);
    }
}

:host {
    --battle-field-y: min(118.076vw, 65.7vh);
    --top-bar-width: 90vw;
    --bar-width: min(155.6vw, 91vh);
    --bar-height: calc(var(--bar-width) * 0.08649);
    --bar-bottom: calc(var(--battle-field-y) - var(--bar-height) * 0.92);
    background-image: linear-gradient(180deg, #9EC7F3 0, #2CF0EA 53.846%);
}

.bar,
.chessboard,
.character,
.battle-field .grass {
    @extend %layer;
}

.top-grass {
    --top-grass-width: 120vw;
    @include size(var(--top-grass-width), calc(var(--top-grass-width) * 0.0643));
    background-image: var(--game-top-grass);
    position: absolute;
    margin-top: calc(0px - var(--top-grass-width) * 0.02);
    left: calc((100vw - var(--top-grass-width)) /2);
    animation: bar-grass-wave 4s infinite alternate-reverse linear;
}

.top-bar {
    --steps-height: min(18vw, 11vh);
    --steps-width: calc(var(--steps-height) / 0.942);
    --stop-width: calc(var(--steps-width) * 0.94);
    width: var(--top-bar-width);
    position: relative;
    display: flex;
    margin-left: calc((100vw - var(--top-bar-width)) / 2);

    .remaining-steps {
        --shadow-color: #4a321a;
        --shadow-depth: min(0.11vw, 1px);
        width: var(--steps-width);
        height: var(--steps-height);
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: var(--game-remaining-steps);
        position: absolute;
        font-size: calc(var(--steps-width) * 0.4);
        padding: 0 0 calc(var(--steps-height) * 0.30) calc(var(--steps-height) * 0.21);
        @include text-border(var(--shadow-color), var(--shadow-depth));
        left: calc(0px - var(--steps-height) * 0.21);
    }

    .score-bar {
        --score-bar-width: calc(var(--top-bar-width) - var(--stop-width) - var(--top-bar-width) * 0.05);
        --score-bar-height: calc(var(--steps-height) * 0.7);
        width: var(--score-bar-width);
        height: var(--score-bar-height);
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        border-radius: 99999vw;
        background-image: linear-gradient(261.52deg, #643514 2.62%, #B38650 24.93%, #643514 41.21%);
        position: absolute;
        top: calc(var(--steps-height) * 0.07);
        left: calc(var(--steps-width) / 3);

        .border {
            @include size(100%, 95%);
            border-radius: 99999vw;
            padding: calc(var(--score-bar-height) * 0.125) calc(var(--score-bar-height) * 0.125) calc(var(--score-bar-height) * 0.125) calc(var(--steps-width) / 2);
            background-image: var(--game-bar-dirt), linear-gradient(180deg, #FDDF80 0%, #F1C275 100%);
            background-size: contain, 100%;
            background-position: calc(var(--steps-width) / 2), center;
            box-shadow: inset calc(0px - var(--score-bar-height) * 0.01) calc(var(--score-bar-height) * 0.02) 0px #FFF;

            .inner {
                @include size(100%);
                display: flex;
                justify-content: space-between;
                border-radius: 99999vw;
                background-color: #BC8544;
                box-shadow: 0px 1px 0px #FFFF87, inset calc(var(--score-bar-height) * 0.01) calc(var(--score-bar-height) * 0.03) 0px #5F300F;
                padding: calc(var(--score-bar-height) * 0.19) 0 calc(var(--score-bar-height) * 0.19) calc(var(--score-bar-height) * 0.2185);

                .progress-bar {
                    --shadow: drop-shadow(calc(var(--score-bar-height) * -0.0063) calc(var(--score-bar-height) * -0.0252) 0px #F1CE77);
                    @include size(calc(100% - var(--steps-height) * 0.9), 100%);
                    border-radius: 99999vw;
                    padding: calc(var(--score-bar-height) * 0.03);
                    position: relative;
                    box-shadow: inset 0px calc(var(--score-bar-height) * 0.03) 0px #5F300F;
                    filter: var(--shadow);
                    background-color: #865020;

                    .progress-wrapper {
                        --margin: calc(var(--score-bar-height) * 0.06);
                        width: calc(100% - var(--margin));
                        height: calc(100% - var(--margin));
                        position: absolute;
                        border-radius: 99999vw;
                        overflow: hidden;
                        z-index: 1;
                    }

                    .progress {
                        --progress: 100%;
                        width: var(--progress);
                    }

                    .progress-star {
                        --star-size: calc(var(--score-bar-height) * 0.5166);
                        @include size(var(--star-size));
                        background-image: var(--game-progress-star);
                        position: absolute;
                        top: calc((100% - var(--star-size)) / 2);
                        left: calc(var(--star-position) - var(--star-size));

                        &::before {
                            content: '';
                            @include size(100%);
                            background-image: var(--home-mission-star);
                            background-size: 85%;
                            background-position: 45% center;
                            filter: drop-shadow(0 0 calc(var(--star-size) * 0.1) rgb(255, 229, 80));
                            position: absolute;
                            z-index: 1;
                            transition: transform 0.2s cubic-bezier(0.5, 2.7, 0.7, 1);
                            transform: scale(0);
                        }

                        &.achieved::before {
                            transform: scale(1.0);
                        }
                        
                        &:nth-of-type(1) {
                            --star-position: 20%;
                        }

                        &:nth-of-type(2) {
                            --star-position: 60%;
                        }

                        &:nth-of-type(3) {
                            --star-position: 99%;
                        }
                    }
                }

                .score {
                    --shadow-color: #4a321a;
                    --shadow-depth-font: min(0.11vw, 1px);
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: calc(var(--score-bar-height) / 4);
                    @include text-border(var(--shadow-color), var(--shadow-depth-font));
                    padding-right: 2%;

                    &::before {
                        content: attr(title);
                    }

                    &::after {
                        content: attr(score);
                    }
                }
            }
        }
    }

    .stop-continue {
        width: var(--stop-width);
        height: calc(var(--stop-width) * 1.15338);
        background-image: var(--game-stop-continue);
        position: absolute;
        right: calc(0px - var(--stop-width) * 0.2);
        margin-top: calc(0px - var(--stop-width) * .15);
    }
}

.character {
    --width: calc(var(--bar-height) * 2.4);
    --height: calc(var(--width) * 1.71);
    height: var(--height);
    background-image: var(--login-character);
    position: absolute;
    bottom: calc(var(--bar-bottom) - var(--height) / 6);
}

.bar {
    --width: var(--bar-width);
    height: var(--bar-height);
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: var(--bar-bottom);
    z-index: 1;

    &::before,
    &::after,
    .bar-lamp {
        content: '';
        @include size(100%);
        position: absolute;
        left: 0;
    }

    &::before {
        height: 128.5%;
        transform-origin: center top;
        animation: bar-grass-wave 4s infinite alternate-reverse linear;
        background-image: var(--game-bar-grass);
        top: 48%;
    }

    &::after {
        background-image: var(--game-bar-wood);
        top: 0;
    }

    .bar-lamp {
        height: calc(var(--bar-width) * 0.08749);
        background-image: var(--game-bar-lamp);
        z-index: 1;
        top: 18%;
    }

    .flower {
        --width: calc(var(--bar-height) * 1.4);
        width: var(--width);
        height: calc(var(--width) * 1.335);
        background-image: var(--game-flower);
        position: absolute;
        z-index: 2;
        left: calc((var(--bar-width) - 100vw) / 2);
        transform: translateY(-69.67%);
    }

    .hint-board {
        --board-width: calc(var(--bar-width)* 0.346);
        --board-height: calc(var(--board-width) * 0.2738);
        --padding-top: calc(var(--board-width) * 0.07857);
        --padding-bottom: calc(var(--board-width) * 0.0571);
        @include size(var(--board-width), var(--board-height));
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        background-image: var(--game-hint-board);
        margin-top: calc(0px - var(--bar-width) * .01);
        padding: var(--padding-top) calc(var(--board-width) * 0.0619) var(--padding-bottom);
        z-index: 1;

        .fruit {
            --shadow-color: #4a321a;
            --fruit-size: calc(var(--board-height) - var(--padding-top) - var(--padding-bottom));
            
            &::before {
                --shadow-depth: min(0.3vw);
                @include drop-border(var(--shadow-color), var(--shadow-depth));
            }

            &::after {
                --shadow-depth-font: min(0.11vw, 1px);
                content: attr(count);
                margin-left: calc(var(--fruit-size) * 0.2);
                margin-top: 15%;
                font-size: calc(var(--board-width) * 0.05);
                @include text-border(var(--shadow-color), var(--shadow-depth-font));
            }
        }
    }
}

.fruit {
    @include size(var(--fruit-size), var(--fruit-size), true);
    max-width: var(--fruit-size);
    max-height: var(--fruit-size);
    display: flex;
    align-items: center;

    &::before {
        content: '';
        @include size(var(--fruit-size), var(--fruit-size), true);
        background-image: var(--icon-fruit);
        background-size: contain;
    }

    &.blurberry {
        --icon-fruit: var(--game-blurberry);
    }

    &.leechee {
        --icon-fruit: var(--game-leechee);
    }

    &.melon {
        --icon-fruit: var(--game-melon);
    }

    &.mongo {
        --icon-fruit: var(--game-mongo);
    }

    &.strawberry {
        --icon-fruit: var(--game-strawberry);
    }

    &.yogurt {
        --icon-fruit: var(--game-yogurt);
    }
}

.battle-field {
    @include size(100%, var(--battle-field-y));
    background-image: var(--game-battle-field);
    position: absolute;
    bottom: 0;

    .chessboard {
        --columns: 8;
        --rows: 7;
        --cell-size: 8vw;
        --chessboard-width: calc(var(--cell-size) * var(--columns));
        --chessboard-height: calc(var(--cell-size) * var(--rows));
        --width: var(--chessboard-width);
        height: var(--chessboard-height);
        display: grid;
        grid-template-columns: repeat(var(--columns), var(--cell-size));
        grid-template-rows: repeat(var(--rows), var(--cell-size));
        top: calc(50% - var(--chessboard-height) / 2);

        .fruit {
            background-color: #D9B478;

            &.disable {
                opacity: 0;

                &:nth-of-type(1),
                &:nth-of-type(5),
                &:nth-of-type(7),
                &:nth-of-type(9) {
                    grid-column: 1;
                }

                &:nth-of-type(4),
                &:nth-of-type(6),
                &:nth-of-type(8),
                &:nth-of-type(12) {
                    grid-column: var(--columns);
                }

                &:nth-of-type(2),
                &:nth-of-type(10) {
                    grid-column: 2;
                }

                &:nth-of-type(3),
                &:nth-of-type(11) {
                    grid-column: calc(var(--columns) - 1);
                }

                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    grid-row: 1;
                }

                &:nth-of-type(9),
                &:nth-of-type(10),
                &:nth-of-type(11),
                &:nth-of-type(12) {
                    grid-row: var(--rows);
                }

                &:nth-of-type(5),
                &:nth-of-type(6) {
                    grid-row: 2;
                }

                &:nth-of-type(7),
                &:nth-of-type(8) {
                    grid-row: calc(var(--rows) - 1);
                }
            }
        }
    }

    .grass {
        --height: min(28.917vw, 12vh);
        --width: 100vw;
        --grass-width: var(--width);
        height: var(--height);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: var(--game-grass);
        background-position: center top;
        position: absolute;
        padding-bottom: calc(var(--grass-width) * 0.032301);
        bottom: 0;

        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            transform-origin: center bottom;
            animation: grass-wave 3s infinite alternate-reverse;
        }

        &::before {
            --bottom-grass-width: min(calc(var(--grass-width) * 0.32179), 17vh);
            @include size(var(--bottom-grass-width), calc(var(--bottom-grass-width) * 0.8));
            background-image: var(--game-grass-bottom-left);
            left: -0.8%;
        }

        &::after {
            --bottom-grass-width: min(calc(var(--grass-width) * 0.1192), 6.3vh);
            @include size(var(--bottom-grass-width), calc(var(--bottom-grass-width) * 1.8));
            background-image: var(--game-grass-bottom-right);
            right: -0.8%;
        }

        .tool {
            --tool-size: calc(var(--height) * 0.75);
            content: '';
            @include size(var(--tool-size), var(--tool-size), true);
            position: relative;
            z-index: 1;

            &.plier {
                --tool-icon: var(--game-plier);
            }

            &.air-blower {
                --tool-icon: var(--game-air-blower);
                margin: 0 10vw;
            }

            &.rabbler {
                --tool-icon: var(--game-rabbler);
            }

            &::before,
            &::after {
                content: '';
                @include size(100%);
                position: absolute;
                z-index: 2;
            }

            &::before {
                background-image: var(--game-tool);
            }

            &::after {
                $color: #131313;
                $depth: 0.00001vw;
                background-image: var(--tool-icon);
                background-size: contain;
                filter:
                    drop-shadow(#{$depth} 0 0 #{$color})
                    drop-shadow(0 #{$depth} 0 #{$color})
                    drop-shadow(calc(0px - #{$depth}) 0 0 #{$color})
                    drop-shadow(0 calc(0px - #{$depth}) 0 #{$color})
                    drop-shadow(0.3vw 0.5vw 0.5px rgba($color, 0.84));
            }

            .shadow {
                content: '';
                @include size(165%, 96.731%);
                background-image: linear-gradient(101.79deg, #0D3A29 12.07%, rgba(13, 58, 41, 0) 65.51%);
                transform: rotate(55.76deg) translate(48%, 29%);
                position: absolute;
                z-index: 1;
            }
        }
    }
}
