<div class="score-bar">
    <div class="remaining-steps">48</div>
    <div class="stop-continue"></div>
</div>
<div class="bar center">
    <div class="bar-lamp"></div>
    <div class="hint-board center">
        <div class="fruit strawberry" count="x30"></div>
        <div class="fruit blurberry" count="x30"></div>
        <div class="fruit leechee" count="x30"></div>
    </div>
</div>
<div class="battle-field">
    <div class="chessboard center">
        <div *ngFor="let item of cellItems" class="fruit"></div>
        <span class="fruit disable"></span>
        <span class="fruit disable"></span>
        <span class="fruit disable"></span>
        <span class="fruit disable"></span>
        <span class="fruit disable"></span>
        <span class="fruit disable"></span>
        <span class="fruit disable"></span>
        <span class="fruit disable"></span>
        <span class="fruit disable"></span>
        <span class="fruit disable"></span>
        <span class="fruit disable"></span>
        <span class="fruit disable"></span>
    </div>
    <div class="grass center">
        <div class="tool btn-light plier">
            <div class="shadow"></div>
        </div>
        <div class="tool btn-light air-blower">
            <div class="shadow"></div>
        </div>
        <div class="tool btn-light rabbler">
            <div class="shadow"></div>
        </div>
    </div>
</div>
