<div class="top-grass"></div>
<div class="top-bar">
    <div class="score-bar">
        <div class="border">
            <div class="inner">
                <div class="progress-bar">
                    <div class="progress-wrapper">
                        <div #progressElement class="progress" style="--progress: 100%"></div>
                    </div>
                    <span class="progress-star" [class.achieved]="progress >= 0.2"></span>
                    <span class="progress-star" [class.achieved]="progress >= 0.6"></span>
                    <span class="progress-star" [class.achieved]="progress >= 1.0"></span>
                </div>
                <div class="score" title="分数" score="11,220"></div>
            </div>
        </div>
    </div>
    <div class="remaining-steps">48</div>
    <div class="stop-continue"></div>
</div>
<div class="character center"></div>
<div class="bar center">
    <div class="flower"></div>
    <div class="desk-fruit"></div>
    <div class="bar-lamp"></div>
    <div class="hint-board center">
        <div class="fruit strawberry" count="x30"></div>
        <div class="fruit blurberry" count="x30"></div>
        <div class="fruit leechee" count="x30"></div>
    </div>
</div>
<div class="battle-field">
    <div class="chessboard center">
        <span *ngFor="let item of cellItems" class="fruit {{ item.itemType }}" [class.disable]="item.disable"></span>
    </div>
    <div class="grass center">
        <div class="tool btn-light plier">
            <div class="shadow"></div>
        </div>
        <div class="tool btn-light air-blower">
            <div class="shadow"></div>
        </div>
        <div class="tool btn-light rabbler">
            <div class="shadow"></div>
        </div>
    </div>
</div>
