@import "shared-styles";

%text {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999vw;
    background-color: #296897;
    text-align: center;
}

@keyframes cloud {
    from {
        transform: translateX(0);
    }
  
    to {
        transform: translateX(-250%);
    }
}

@keyframes bottom-cloud {
    from {
        transform: translateX(0);
    }
  
    to {
        transform: translateX(-100%);
    }
}

@keyframes bottom-menu {
    0% {
        transform: translateY(0);
    }
  
    100% {
        transform: translateY(1vw);
    }
}

:host {
    background-image: var(--home-background);
}

.top-info,
.land,
.land::before,
.land::after,
.bottom-cloud,
.bottom-menu,
.tree,
.trees,
.cloud {
    @extend %layer;
}

.top-info {
    --panel-width: min(86vw, 610px);
    --width: 86vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 3.5vw;
    z-index: 1;
    transform: translateX(1vw);

    .info {
        width: var(--info-width, calc(var(--panel-width) * 0.24298));
        height: calc(var(--panel-width) * 0.062);
        border: solid 1px #bcddf0;
        position: relative;
        box-shadow: 0 -1px 1px #2a537b inset;
        @extend %text;
        

        &::before {
            content: '';
            @include size(var(--icon-width), var(--icon-height));
            position: absolute;
            left: calc(0px - var(--panel-width) * 0.0406);
            background-image: var(--info-icon);
        }

        .text {
            text-indent: calc(0px - var(--panel-width) * 0.0232);
            font-size: calc(var(--panel-width) * 0.0406);
        }

        .plus {
            @include size(calc(var(--panel-width) * 0.0655));
            background-image: var(--plus-icon);
            position: absolute;
            right: 0;
        }

        &.heart {
            --icon-width: calc(var(--panel-width) * 0.0983);
            --icon-height: calc(var(--icon-width) * 0.9243);
            --info-width: calc(var(--panel-width) * 0.1759);
            --info-icon: var(--home-heart);
            
            .text {
                text-indent: 2vw;
            }
        }

        &.gold {
            --icon-width: calc(var(--panel-width) * 0.08197);
            --icon-height: calc(var(--icon-width) * 1.163);
            --plus-icon: var(--home-plus-green);
            --info-icon: var(--home-gold);
        }

        &.diamond {
            --icon-width: calc(var(--panel-width) * 0.08197);
            --icon-height: calc(var(--icon-width) * 1.09);
            --plus-icon: var(--home-plus-yellow);
            --info-icon: var(--home-diamond);
        }
    }

    .setting {
        @include size(calc(var(--panel-width) * 0.1058), calc(var(--panel-width) * 0.1073));
        background-image: var(--home-setting);
    }
}

.main-menus {
    --margin-side: 5vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 21vw;

    &.left {
        left: var(--margin-side);
    }

    &.right {
        right: var(--margin-side);
    }

    .main-menu {
        --menu-size: min(13vw, 70px);
        @include size(var(--menu-size), var(--menu-size), true);
        display: grid;
        grid-template-rows: 100% 1fr;

        &::before {
            content: '';
            @include size(100%);
            @extend %btn-light;
            background-image: var(--main-menu-icon);
            background-size: contain;
        }

        &::after {
            --shadow-color: white;
            --shadow-depth: 0.1vw;
            content: attr(text);
            width: 100%;
            text-align: center;
            color: #038ebb;
            font-family: '方正粗圆简体';
            white-space: nowrap;
            position: absolute;
            margin-top: calc(100% + var(--menu-size) / 10);
            font-size: calc(var(--menu-size) * 0.28);
            @include text-border(var(--shadow-color), var(--shadow-depth));
        }

        &:nth-of-type(3)::after {
            transform: translateX(-8%);
        }

        &:not(:first-child) {
            margin-top: calc(var(--menu-size) * 0.7);
        }
    }

    .task {
        --main-menu-icon: var(--home-task);
    }
    
    .mail {
        --main-menu-icon: var(--home-mail);
    }
    
    .sign {
        --main-menu-icon: var(--home-sign);
    }

    .bag {
        --main-menu-icon: var(--home-bag);
    }

    .map {
        --main-menu-icon: var(--home-map);
    }

    .egg {
        --main-menu-icon: var(--home-egg);
    }
}

.land {
    @include size(100vw, 81.28vw);
    counter-reset: mission;
    bottom: 0;

    &::before,
    &::after {
        content: '';
    }
    
    &::before {
        @include size(83.59vw, 41.15vw);
        background-image: var(--home-mountain);
        transform: translateY(-63%);
        right: 0;
    }

    &::after {
        @include size(100%);
        background-image: var(--home-land);
    }
}

.cloud {
    @include size(77.43vw, 29.615vw);
    background-image: var(--home-cloud);
    z-index: 1;
    margin: -30% 100%;
    animation: cloud 90s infinite linear;
}

.mountain-left {
    @include size(30.89vw, 57.82vw);
    background-image: var(--home-mountain-left);
    position: absolute;
    transform: translateY(-68%);
}

.trees {
    @include size(100vw, 36.15vw);
    background-image: var(--home-trees);
    transform: translateY(-27%);
    z-index: 1;
}

.btn-mission,
.yogurt-front,
.yogurt-back {
    position: absolute;
    z-index: 1;
}



.btn-mission {
    @include size(15vw, 10vw);

    &:not(.disable):active .background::before {
        transform: translateY(0);
    }

    &.disable .background::before {
        content: '';
        background-image: linear-gradient(180deg, #E2E2E1 0%, #E2E2E1 50%, #858483 100%);
    }

    .background,
    &::after {
        @include size(100%);
    }

    .background {
        --shadow-color: white;
        --shadow-depth: 0.1vw;
        --color-top: white;
        --color-middle: #ffe600;
        --color-bottom: #FF9900;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #b26024;
        font-size: 3vw;
        border-radius: 50%;
        overflow: hidden;
        @include circle-mask;
        @include text-border(var(--shadow-color), var(--shadow-depth));

        &::before,
        &::after {
            margin-top: 66.67%;
        }

        &::before {
            content: '';
            @include size(100%, 200%);
            transform: translateY(-50%);
            background-image: linear-gradient(180deg, var(--color-top, transparent) 0%, var(--color-middle) 50%, var(--color-bottom) 100%);
            transition:  transform .2s ease-out;
        }

        &::after {
            @include size(100%);
            content: counter(mission);
            counter-increment: mission;
            @include size(100%, 200%);
            padding-top: 7%;
            position: absolute;
            top: -100%;
        }
    }

    &::after {
        content: '';
        background-image: var(--home-btn-mission);
        transform: translateY(-100%);
    }

    &:nth-of-type(1) {
        left: 24%;
        bottom: 42%;
    }

    &:nth-of-type(2) {
        left: 50%;
        bottom: 49%;
        transform: scale(0.95);
    }

    &:nth-of-type(3) {
        left: 74%;
        bottom: 56%;
        transform: scale(0.9);
    }

    &:nth-of-type(4) {
        left: 52%;
        bottom: 66%;
        transform: scale(0.8);
    }

    &:nth-of-type(5) {
        left: 32%;
        bottom: 69.5%;
        transform: scale(0.75);
    }

    &:nth-of-type(6) {
        left: 38%;
        bottom: 84%;
        transform: scale(0.45);
    }

    > .star {
        --zoom: 0.85;
        @include size(calc(38.46% * var(--zoom)), calc(55.9% * var(--zoom)));
        position: absolute;
        left: -6%;
        bottom: -11%;
        background-image: var(--home-mission-star);
        z-index: 1;
        filter: drop-shadow(-0.3vw 0.5vw 1px rgba(#17162a, 0.30));

        &::before,
        &::after {
            @include size(100%);
            content: '';
            background-image: inherit;
        }

        &::before {
            transform: translate(115%, 28%) rotate(51deg);
        }

        &::after {
            transform: translate(240%, -94%) rotate(16deg);
        }

        &.star-2::after {
            filter: brightness(0.6);
        }

        &.star-1 {
            &::before,
            &::after {
                filter: brightness(0.6);
            }
        }
    }
}

.yogurt-front {
    @include size(24.487vw, 27.82vw);
    background-image: var(--home-yogurt-front);
    transform: translate(8vw, 7vw);
    
}

.yogurt-back {
    @include size(14.359vw, 17.4359vw);
    background-image: var(--home-yogurt-back);
    transform: translate(62vw, -8.5vw);
}

.tree {
    --width: 6.79vw;
    height: 11.15vw;
    background-image: var(--home-tree);
    transform: translate(27vw, 24.5vw);
    z-index: 1;
}

.bottom-cloud {
    @include size(245.25vw, 40.256vw);
    display: flex;
    background-image: var(--home-bottom-cloud);
    left: 0;
    bottom: 0;
    animation: bottom-cloud 60s infinite linear;

    &::after {
        content: '';
        @include size(100%);
        display: block;
        background-image: inherit;
        transform: translateX(calc(100% - 0.2px));
    }
}

.bottom-menu {
    @include size(100vw, 25.64vw);
    display: flex;
    flex-direction: column;
    background-image: var(--home-bottom-menu);
    bottom: 0;
    z-index: 1;

    .holes {
        --menu-width: min(81.4vw, 550px);
        width: var(--menu-width);
        height: calc(var(--menu-width) * 0.21794);
        display: grid;
        grid-template-columns: 26.14% 46.928% 26.93%;
        grid-template-rows: 100%;
        align-self: center;
        position: absolute;
        bottom: calc(var(--menu-width) / 10.5);
    }

    .hole {
        width: 100%;
        height: var(--hole-height);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        align-self: flex-end;
    }

    .hole-left {
        --hole-height: 75.857%;
        background-image: var(--home-hole-left);
        justify-self: flex-end;
        margin-right: 4.48%;
    }

    .hole-center {
        --hole-height: 123%;
        background-image: var(--home-hole-center);
        justify-self: center;
    }

    .hole-right {
        --hole-height: 78.037%;
        background-image: var(--home-hole-right);
        justify-self: flex-start;
        margin-left: 3.59%;
    }

    .inner {
        @include size(100%);
        background-image: var(--background-image);
        position: absolute;
        top: 0;
        left: 0;
    }

    .menu {
        width: var(--width);
        height: 0;
        padding-top: var(--height);
        margin-bottom: 2vw;
        cursor: pointer;
        animation: bottom-menu 2s infinite alternate-reverse;
        font-size: 0;
    }

    .coup {
        --width: 74.1%;
        --height: 82%;
        --background-image: var(--home-coup);
        margin-right: 15%;
    }

    .go {
        --width: 41.95%;
        --height: 43%;
        --background-image: var(--home-go);
        margin-bottom: 20%;
    }

    .shop {
        --width: 90%;
        --height: 90%;
        --background-image: var(--home-shop);
        margin-left: 5%;
    }

    .text-box {
        @include size(calc(var(--menu-width) * 0.24), calc(var(--menu-width) * 0.0614));
        min-width: calc(var(--menu-width) * 0.24);
        min-height: calc(var(--menu-width) * 0.0614);
        box-shadow: 1px 1px 1px #012769 inset, 0px 2px 1px #05407E inset;
        border-color: #6497D8;
        @extend %text;
        font-size: calc(var(--menu-width) * 0.043);
        border-style: solid;
        border-left-width: 1px;
        border-top-width: 1px;
        border-bottom-width: 0;
        border-right-width: 0;
        transform: translateY(calc(var(--menu-width) * 0.0675));
    }
}
