<div class="top-info center">
    <div class="info heart">
        <div class="text">30</div>
    </div>
    <div class="info gold">
        <div class="text">56789</div>
        <button class="plus btn-light"></button>
    </div>
    <div class="info diamond">
        <div class="text">56789</div>
        <button class="plus btn-light"></button>
    </div>
    <button class="setting btn-light"></button>
</div>
<div class="main-menus left">
    <div class="main-menu task" text="任务"></div>
    <div class="main-menu mail" text="邮件"></div>
    <div class="main-menu sign" text="签到有礼"></div>
</div>
<div class="main-menus right">
    <div class="main-menu bag" text="背包"></div>
    <div class="main-menu map" text="地图"></div>
    <div class="main-menu egg" text="幸运扭蛋"></div>
</div>
<div class="land">
    <div class="mountain-left"></div>
    <div class="trees"></div>
    <div class="yogurt-back"></div>
    <div class="yogurt-front"></div>
    <div class="tree"></div>
    <div class="cloud"></div>
</div>
<div class="bottom-cloud"></div>
<div class="bottom-menu">
    <div class="holes">
        <div class="hole hole-left">
            <button class="menu coup">
                <div class="inner btn-light"></div>
            </button>
            <div class="text-box">排行榜</div>
        </div>
        <div class="hole hole-center">
            <button class="menu go" routerLink="/main/game">
                <div class="inner btn-light"></div>
            </button>
            <div class="text-box">关卡: 3</div>
        </div>
        <div class="hole hole-right">
            <button class="menu shop">
                <div class="inner btn-light"></div>
            </button>
            <div class="text-box">商店</div>
        </div>
    </div>
</div>
