<div class="land">
    <div class="trees"></div>
    <div class="yogurt"></div>
    <div class="tree"></div>
</div>
<div class="bottom-cloud"></div>
<div class="bottom-menu">
    <div class="icon">
        <button class="menu btn-light coup" routerLink="/main/rank"></button>
        <button class="menu btn-light go" routerLink="/main/game"></button>
        <button class="menu btn-light shop" routerLink="/main/shop"></button>
    </div>
    <div class="text">
        <div class="text-box">排行榜</div>
        <div class="text-box">关卡: 3</div>
        <div class="text-box">商店</div>
    </div>
</div>
