@import "shared-styles";

%text {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999vw;
    background-color: #296897;
    color: white;
    font-size: 3.5vw;
    font-family: '方正粗圆简体';
    text-align: center;
}

@keyframes bottom-cloud {
    from {
        transform: translateX(0);
    }
  
    to {
        transform: translateX(-100%);
    }
}

@keyframes bottom-menu {
    from {
        transform: translateY(0);
    }
  
    to {
        transform: translateY(1vw);
    }
}

:host {
    background-image: url(image-assets("home/background.png"));
}

.top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vw 6vw 0 8vw;
    z-index: 1;

    .info {
        width: var(--info-width, 20.897vw);
        height: 5.384vw;
        border: solid 1px #bcddf0;
        position: relative;
        box-shadow: 0 -1px 1px #2a537b inset;
        @extend %text;
        

        &::before {
            content: '';
            @include size(var(--icon-width), var(--icon-height));
            position: absolute;
            left: -3.5vw;
            background-image: var(--info-icon);
        }

        .text {
            text-indent: -2vw;
        }

        .plus {
            @include size(5.64vw);
            background-image: var(--plus-icon);
            position: absolute;
            right: 0;
        }

        &.heart {
            --icon-width: 8.46vw;
            --icon-height: calc(var(--icon-width) * 0.9243);
            --info-width: 15.128vw;
            --info-icon: #{url(image-assets("home/heart.png"))};
            
            .text {
                text-indent: 2vw;
            }
        }

        &.gold {
            --icon-width: 7.05vw;
            --icon-height: calc(var(--icon-width) * 1.163);
            --plus-icon: #{url(image-assets("home/plus-green.png"))};
            --info-icon: #{url(image-assets("home/gold.png"))};
        }

        &.diamond {
            --icon-width: 7.05vw;
            --icon-height: calc(var(--icon-width) * 1.09);
            --plus-icon: #{url(image-assets("home/plus-yellow.png"))};
            --info-icon: #{url(image-assets("home/diamond.png"))};
        }
    }

    .setting {
        @include size(9.1vw, 9.23vw);
        background-image: url(image-assets("home/setting.png"));
    }
}

.land,
.land::before,
.land::after,
.bottom-cloud,
.bottom-menu,
.tree,
.trees {
    @extend %layer;
}

.land {
    @include size(100vw, 81.28vw);
    bottom: 0;

    &::before,
    &::after {
        content: '';
    }
    
    &::before {
        @include size(83.59vw, 41.15vw);
        background-image: url(image-assets("home/mountain.png"));
        transform: translateY(-63%);
        right: 0;
    }

    &::after {
        @include size(100%);
        background-image: url(image-assets("home/land.png"));
    }
}

.mountain-left {
    @include size(30.89vw, 57.82vw);
    background-image: url(image-assets("home/mountain-left.png"));
    position: absolute;
    transform: translateY(-68%);
}

.trees {
    @include size(100vw, 36.15vw);
    background-image: url(image-assets("home/trees.png"));
    transform: translateY(-27%);
    z-index: 1;
}

.yogurt {
    @include size(71.02vw, 44.61vw);
    background-image: url(image-assets("home/yogurt.png"));
    position: absolute;
    transform: translate(8vw, -9vw);
    z-index: 1;
}

.tree {
    --width: 6.79vw;
    height: 11.15vw;
    background-image: url(image-assets("home/tree.png"));
    transform: translate(27vw, 24.5vw);
    z-index: 1;
}

.bottom-cloud {
    @include size(245.25vw, 40.256vw);
    display: flex;
    background-image: url(image-assets("home/bottom-cloud.png"));
    left: 0;
    bottom: 0;
    animation: bottom-cloud 30s infinite linear;

    &::after {
        content: '';
        @include size(100%);
        display: block;
        background-image: inherit;
        transform: translateX(calc(100% - 0.2px));
    }
}

.bottom-menu {
    @include size(100vw, 29.61vw);
    display: flex;
    flex-direction: column;
    background-image: url(image-assets("home/bottom-menu.png"));
    padding: 0 5.26vw 2vw;
    bottom: 0;

    .icon {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        animation: bottom-menu 2s infinite alternate-reverse;

        .menu {
            margin-bottom: 1vw;
            cursor: pointer;
        }

        .coup {
            @include size(15.77vw, 17.435vw);
            background-image: url(image-assets("home/coup.png"));
            margin-top: -3vw;
            margin-left: 1vw;
        }

        .go {
            @include size(16.025vw, 16.6vw);
            background-image: url(image-assets("home/go.png"));
            justify-self: center;
            margin-top: -8vw;
        }

        .shop {
            @include size(19.743vw, 20.128vw);
            background-image: url(image-assets("home/shop.png"));
            justify-self: end;
            margin-top: -4vw;
        }
    }

    .text {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.text-box {
    @include size(19.61vw, 5vw);
    box-shadow: 1px 1px 1px #012769 inset, 0px 2px 1px #05407E inset;
    border-color: #6497D8;
    @extend %text;
    border-style: solid;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 0;
    border-right-width: 0;
}
