@import "shared-styles";

@keyframes progress {
    from {
        transform: translate(-3vw, -100%);
    }
  
    to {
        transform: translate(0, -100%);
    }
}

:host {
    @include size(100%);
    position: relative;
}

.loading {
    @include size(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999999999999999;
    --color-1: transparent;
    --color-2: #{rgba(#a7d0fa, 0.67)};
    --color-3: #fff;
    --color-4: #d3e9ff;
    --grid-size: 12.5vmin;
    overflow: hidden;

    &::before {
        content: '';
        @include size(200%, 200%);
        transform-origin: left top;
        background-color: white;
        background-image:
            repeating-linear-gradient(90deg, var(--color-1) calc(var(--grid-size) * -0.5), var(--color-1) calc(var(--grid-size) * 0.5), var(--color-2) calc(var(--grid-size) * 0.5), var(--color-2) calc(var(--grid-size) * 1.5)),
            repeating-linear-gradient(180deg, var(--color-3) calc(var(--grid-size) * 0.5), var(--color-3)calc(var(--grid-size) * 1.5), var(--color-4)calc(var(--grid-size) * 1.5), var(--color-4) calc(var(--grid-size) * 2.5));
    }

    &::after {
        content: '';
        @include size(100%);
        background-image: url(image-assets('banner.png'));
        background-size: min(361px, 70vw);
        background-position: center 25%;
        position: absolute;
    }

    .progress-frame {
        --width: min(80vw, 480px);
    }
}

::ng-deep {
    router-outlet + * {
        @include size(100%);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}
