@import "./styles/shared-styles";
@import "./styles/font";

@keyframes fix-shadow-loading {
    from {
        filter: drop-shadow(0px calc(var(--height) * 0.12) 0px #865020);
    }
  
    to {
        filter: drop-shadow(0.0001px calc(var(--height) * 0.12) 0px #865020);
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

::before,
::after {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

body {
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    font-family: '方正粗圆简体';
    color: white;
}

[hidden] {
    display: none !important;
}

button {
    text-align: center;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    color: inherit;
    padding: 0;
    font-family: '方正粗圆简体';
    cursor: pointer;
}

.btn-light {
    @extend %btn-light;
}

.progress-frame {
    --height: calc(var(--width) * 0.089783);
    --border-width: calc(var(--width) * 0.0125);
    --shadow-size: calc(var(--width) * 0.00375);
    --padding: calc(var(--width) * 0.00625);
    width: var(--width);
    height: var(--height);
    position: absolute;
    top: 65%;
    z-index: 1;
    border-radius: 99999vw;
    border: solid var(--border-width) #F1C175;
    background-color: #BC8544;
    padding: var(--padding);
    box-shadow: var(--shadow-size) var(--shadow-size) var(--shadow-size) #865020 inset;
    animation: fix-shadow-loading 100s infinite linear;

    &::before {
        content: '';
        @include size(100%);
        border-radius: 99999vw;
        background-color: #865020;
    }

    .progress {
        --progress: 0;
        width: calc(var(--progress) * 0.987);
        height: calc(100% - var(--padding) * 2);
        transform: translateY(-100%);
        border-radius: 99999vw;
        position: absolute;
        overflow: hidden;

        &::before,
        &::after {
            content: '';
            border-radius: 99999vw;
            @include size(100%);
        }

        &::before {
            background-image: linear-gradient(180deg, rgba(208, 255, 192, 0.972549) 0%, #4ddb00 51.56%, #E1FF27 100%);
        }

        &::after {
            --stroke: #{rgba(200, 255, 202, 0.3)};
            --space: calc(var(--width) * 0.01875);
            width: 120%;
            background-image: repeating-linear-gradient(114deg, var(--stroke) 0, var(--stroke) var(--space), transparent var(--space), transparent calc(var(--space) * 2));
            animation: progress 1.5s infinite linear;
        }
    }
}