@import "./styles/shared-styles";
@import "./styles/font";

*,
::before,
::after {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

::before,
::after {
    display: block;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
}

body {
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

button {
    text-align: center;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    cursor: pointer;
}
