@import "./styles/shared-styles";
@import "./styles/font";

* {
    box-sizing: border-box;
    background-repeat: no-repeat;
}

html, body {
    height: 100vh;
    margin: 0;
    display: flex;
}

body {
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: env(safe-area-inset-top);

    &.no-border {
        padding-top: 0;
    }
}